# Entra
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

# Localhost
BASE_URL_HOMEPAGE=http://localhost:8080

# GitHub Username
GITHUB_ACTOR=

# GitHub Developer Token
GITHUB_TOKEN=

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

CLAIMS_API=http://localhost:8081
CLAIMS_TOKEN=test

SPRING_PROFILES_ACTIVE=local