<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">


  <form method="post"
        th:action="@{/submissions/{submissionId}/claims/{claimId}/amendments/amend-matter-type(submissionId=${submissionId}, claimId=${claimId})}"
        th:object="${caseTypeForm}"
        th:with="formErrors=${@ThymeleafUtils.orEmpty(caseTypeFormErrors)}">
    <div class="govuk-grid-row">

      <th:block th:replace="~{fragments/amendments-assessed-banner :: assessedBannerRow}"></th:block>


      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <span th:text="#{amendments.matterType.title}"></span>
        </h1>
        <th:block th:replace="~{fragments/error-summary :: error-summary(${formErrors})}"></th:block>
      </div>
      <div class="govuk-grid-column-one-half">
        <dl class="govuk-summary-list"
            th:with="originalMatterTypes=${forms.caseTypeForm.getOriginal()}">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half"
                th:text="#{amendments.matterType.current.one}"/>
            <dd class="govuk-summary-list__value"
                th:text="${originalMatterTypes.getInputs()['MATTER_TYPE_CODE_1']}"/>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half"
                th:text="#{amendments.matterType.current.two}"/>
            <dd class="govuk-summary-list__value"
                th:text="${originalMatterTypes.getInputs()['MATTER_TYPE_CODE_2']}"/>
          </div>
        </dl>

        <input type="hidden" th:field="*{inputs['FEE_CODE']}"/>
        <div class="govuk-form-group"
             th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, 'MATTER_TYPE_CODE_1') ? 'govuk-form-group--error' : ''}">
          <span id="MATTER_TYPE_CODE_1"></span>
          <label class="govuk-label govuk-!-font-weight-bold" for="matter-type-one-input"
                 th:text="#{amendments.matterType.amended.one}"/>
          <th:block
              th:replace="~{fragments/amendments/field-error :: fieldError('MATTER_TYPE_CODE_1', ${formErrors})}"></th:block>
          <input class="govuk-input govuk-input--width-20" id="matter-type-one-input"
                 th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, 'MATTER_TYPE_CODE_1') ? 'govuk-input--error' : ''}"
                 th:field="*{inputs['MATTER_TYPE_CODE_1']}"
                 type="text">
        </div>
        <div class="govuk-form-group"
             th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, 'MATTER_TYPE_CODE_2') ? 'govuk-form-group--error' : ''}">
          <span id="MATTER_TYPE_CODE_2"></span>
          <label class="govuk-label govuk-!-font-weight-bold" for="matter-type-two-input"
                 th:text="#{amendments.matterType.amended.two}"/>
          <th:block
              th:replace="~{fragments/amendments/field-error :: fieldError('MATTER_TYPE_CODE_2', ${formErrors})}"></th:block>
          <input class="govuk-input govuk-input--width-20" id="matter-type-two-input"
                 th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, 'MATTER_TYPE_CODE_2') ? 'govuk-input--error' : ''}"
                 th:field="*{inputs['MATTER_TYPE_CODE_2']}"
                 type="text">
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" type="submit" th:text="#{amendments.continue}"></button>
          <a th:href="@{/submissions/{submissionId}/claims/{claimId}/amendments/case(submissionId=${submissionId}, claimId=${claimId})}"
             id="cancel"
             class="govuk-link govuk-link--no-visited-state"
             th:text="#{service.cancel}">
          </a>
        </div>
      </div>
    </div>
  </form>
</main>
</body>
</html>
