<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.check.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span th:text="#{amendments.check.title}"></span>
      </h1>

      <form method="post"
            th:action="@{/submissions/{submissionId}/claims/{claimId}/amendments/check(submissionId=${submissionId}, claimId=${claimId})}">

        <div class="govuk-button-group">
          <button class="govuk-button" type="submit" th:text="#{amendments.check.submit}"></button>
          <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${submissionId}, claimId=${claimId})}"
             id="cancel"
             class="govuk-link govuk-link--no-visited-state"
             th:text="#{amendments.check.cancel}">
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>
