<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.check.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span th:text="#{amendments.check.title}"></span>
      </h1>

        <div class="govuk-summary-card" th:if="${client1Form.hasAmendments(forms.client1Form.original)}">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title"
                    th:text="#{${@ThymeleafUtils.client1DetailsMessageKey(areaOfLaw)}}">
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state"
                           id="change-client1"
                           th:href="@{/submissions/{submissionId}/claims/{claimId}/amendments/amend-client(submissionId=${submissionId}, claimId=${claimId})}"
                           th:text="#{amendments.change}"></a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{amendments.item}"></dt>
                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.current}"></dd>
                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.amended}"></dd>
                    </div>

                    <div class="govuk-summary-list__row"
                         th:each="entry : ${clientView.client1Rows}"
                         th:if="${client1Form.isAmendment(entry.key.name(), forms.client1Form.original)}">
                        <dt class="govuk-summary-list__key" th:text="#{${'claimClient.rows.' + entry.key.name()}}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.value).resolve(#messages)}"></dd>

                        <dd class="govuk-summary-list__value"
                            th:text="${@ThymeleafUtils.getFormattedValue(client1Form.getAmendedValue(entry.key)).resolve(#messages)}"></dd>
                    </div>
                </dl>
            </div>
        </div>

      <div class="govuk-summary-card"
           th:if="${@ThymeleafUtils.supportsClient2(areaOfLaw) and client2Form.hasAmendments(forms.client2Form.original)}">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"
              th:text="#{claimClient.client2Details}">
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link govuk-link--no-visited-state"
                 id="change-client2"
                 th:href="@{/submissions/{submissionId}/claims/{claimId}/amendments/amend-client-two(submissionId=${submissionId}, claimId=${claimId})}"
                 th:text="#{amendments.change}"></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" th:text="#{amendments.item}"></dt>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.current}"></dd>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.amended}"></dd>
            </div>

            <div class="govuk-summary-list__row"
                 th:each="entry : ${clientView.client2Rows}"
                 th:if="${client2Form.isAmendment(entry.key.name(), forms.client2Form.original)}">
              <dt class="govuk-summary-list__key" th:text="#{${'claimClient.rows.' + entry.key.name()}}"></dt>
              <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.value).resolve(#messages)}"></dd>

              <dd class="govuk-summary-list__value"
                  th:text="${@ThymeleafUtils.getFormattedValue(client2Form.getAmendedValue(entry.key)).resolve(#messages)}"></dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card"
           th:if="${caseTypeForm.hasAmendments(forms.caseTypeForm.original)}">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"
              th:text="#{claimCase.caseType}">
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link govuk-link--no-visited-state"
                 id="change-case-type"
                 th:href="@{/submissions/{submissionId}/claims/{claimId}/amendments/amend-fee-code(submissionId=${submissionId}, claimId=${claimId})}"
                 th:text="#{amendments.change}"></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" th:text="#{amendments.item}"></dt>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.current}"></dd>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.amended}"></dd>
            </div>

            <div class="govuk-summary-list__row"
                 th:each="entry : ${claim.caseTypeRows}"
                 th:if="${caseTypeForm.isAmendment(entry.key.name(), forms.caseTypeForm.original)}">
              <dt class="govuk-summary-list__key" th:text="#{${'claimCase.rows.' + entry.key}}"></dt>
              <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.key, entry.value).resolve(#messages)}"></dd>

              <dd class="govuk-summary-list__value"
                  th:text="${@ThymeleafUtils.getFormattedValue(entry.key, caseTypeForm.getAmendedValue(entry.key)).resolve(#messages)}"></dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card"
          th:if="${caseDetailsForm.hasAmendments(forms.caseDetailsForm.original)}">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"
              th:text="#{claimCase.caseDetails}">
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link govuk-link--no-visited-state"
                 id="change-case-details"
                 th:href="@{/submissions/{submissionId}/claims/{claimId}/amendments/amend-case-details(submissionId=${submissionId}, claimId=${claimId})}"
                 th:text="#{amendments.change}"></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" th:text="#{amendments.item}"></dt>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.current}"></dd>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.amended}"></dd>
            </div>

            <div class="govuk-summary-list__row"
                 th:each="entry : ${claim.caseDetailsRows}"
                 th:if="${caseDetailsForm.isAmendment(entry.key.name(), forms.caseDetailsForm.original)}">
              <dt class="govuk-summary-list__key" th:text="#{${'claimCase.rows.' + entry.key}}"></dt>
              <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.key, entry.value).resolve(#messages)}"></dd>

              <dd class="govuk-summary-list__value"
                  th:text="${@ThymeleafUtils.getFormattedValue(entry.key, caseDetailsForm.getAmendedValue(entry.key)).resolve(#messages)}"></dd>
            </div>
          </dl>
        </div>
      </div>

      <form method="post"
            th:action="@{/submissions/{submissionId}/claims/{claimId}/amendments/check(submissionId=${submissionId}, claimId=${claimId})}">

        <div class="govuk-button-group">
          <button class="govuk-button" type="submit" th:text="#{amendments.check.submit}"></button>
          <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${submissionId}, claimId=${claimId})}"
             id="cancel"
             class="govuk-link govuk-link--no-visited-state"
             th:text="#{amendments.check.cancel}">
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>
