<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.confirmation.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title" th:text="#{amendments.confirmation.title}"></h1>
        <div class="govuk-panel__body">
          <span th:text="#{amendments.confirmation.body}"></span>
        </div>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${submissionId}, claimId=${claimId})}"
           th:text="#{amendments.confirmation.viewClaim}"
           role="button"
           class="govuk-button"
           data-module="govuk-button"
           id="view-amended-claim">
        </a>

        <a th:href="@{${searchUrl}}"
           th:text="#{amendments.confirmation.backToSearch}"
           class="govuk-link govuk-link--no-visited-state"
           id="back-to-search">
        </a>
      </div>
    </div>
  </div>
</main>
</body>
</html>
