<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <th:block th:replace="~{partials/amendments-view-header :: viewHeader(currentPage='case')}"></th:block>

      <h2 class="govuk-heading-m" th:text="#{claimDetails.caseHeading}"></h2>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title" th:text="#{claimCase.caseType}"></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link"
                 id="amend-case-type-link"
                 href="#"
                 th:text="#{amendments.change}"></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <!--TODO: Only show if amendments to case type form-->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" th:text="#{amendments.item}"></dt>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.current}"></dd>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.amended}"></dd>
            </div>

            <div class="govuk-summary-list__row" th:each="entry : ${claim.caseTypeRows}">
              <dt class="govuk-summary-list__key" th:text="#{${'claimCase.rows.' + entry.key}}"></dt>
              <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.value).resolve(#messages)}"></dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title" th:text="#{claimCase.caseDetails}"></h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link"
                 id="amend-case-details-link"
                 href="#"
                 th:text="#{amendments.change}"></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <!--TODO: Only show if amendments to case details form-->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" th:text="#{amendments.item}"></dt>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.current}"></dd>
              <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{amendments.amended}"></dd>
            </div>
            <div class="govuk-summary-list__row" th:each="entry : ${claim.caseDetailsRows}">
              <dt class="govuk-summary-list__key" th:text="#{${'claimCase.rows.' + entry.key}}"></dt>
              <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.value).resolve(#messages)}"></dd>
            </div>
          </dl>
        </div>
      </div>

      <th:block th:replace="~{partials/amendments-view-footer :: viewFooter()}"></th:block>
    </div>
  </div>
</main>
</body>
</html>
