<head th:fragment="head(title)">
    <link th:href="@{/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/ministryofjustice__frontend/moj/moj-frontend.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <link rel="icon" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/favicon.ico}" sizes="any">
    <link rel="icon" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/favicon.svg}" type="image/svg+xml">

    <title th:text="#{service.title(${title})}"></title>
</head>