<section aria-label="Service information" class="govuk-service-navigation"
         data-module="govuk-service-navigation" th:fragment="serviceNavigation(pageCategory)">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
			<span class="govuk-service-navigation__service-name">
				<a th:href="@{/}" class="govuk-service-navigation__link" th:text="#{service.name}"></a>
			</span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                    Menu
                </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    <th:block th:replace="~{partials/service-navigation-item :: serviceNavigationItem(
                        pageCategory=${pageCategory},
                        itemCategory='search',
                        text=#{service.navigation.search}
                    )}"></th:block>
                </ul>
            </nav>
        </div>
    </div>
</section>