<th:block th:fragment="sortableHeader(form,sorts,field,messageKey)" th:with="direction=${sorts.getDirection(field)}">
    <th scope="col" class="govuk-table__header" th:aria-sort="${direction.value}">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-link--sort" th:href="${@RedirectUrlUtils.getRedirectUrl(form, field, direction.toggle())}">
            <span th:text="#{${messageKey}}"></span>
            <th:block th:replace="~{partials/sort-arrow :: sortArrow(${direction})}"></th:block>
        </a>
    </th>
</th:block>