.search-panel {
    padding: 15px 20px 0px 20px;
    background-color: #f3f2f1;
}

.govuk-panel--left {
    text-align: left;
}

.govuk-link--sort {
    display: inline-flex;
    align-items: center;
}

/* Hide back link unless JS is enabled */
.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}

/* Total row styling - darker colour */
.table-row--total td {
    border-top: 1px solid #0B0C0C;
    border-bottom: 1px solid #0B0C0C;
}

/* Target the row immediately before the total */
.govuk-table__row:has(+ .table-row--total) td {
    border-bottom: 1px solid #0B0C0C;
}