.search-panel {
    padding: 15px 20px 0px 20px;
    background-color: #f3f2f1;
}

.govuk-panel--left {
    text-align: left;
}

.govuk-link--sort {
    display: inline-flex;
    align-items: center;
}

/* Hide back link unless JS is enabled */
.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}

/* Total row styling - darker colour */
.table-row--final-row td {
    border-bottom: none;
}

.govuk-table__body .govuk-table__row:last-child > * {
    border-bottom: none !important;
}

.govuk-summary-highlight-lastrow .govuk-summary-list__row:nth-last-child(2) {
    border-bottom: 1px solid #0B0C0C;
}

.govuk-summary-highlight-lastrow .govuk-summary-list__row:last-child {
    border-bottom: 1px solid #0B0C0C;
}

.moj-header__navigation-item-bold {
    font-weight: bold;
}
