.search-panel {
    padding: 15px 20px 0px 20px;
    background-color: #f3f2f1;
}

.govuk-panel--left {
    text-align: left;
}

/* Hide back link unless JS is enabled */
.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}