.search-panel {
    padding: 15px 20px 0px 20px;
    background-color: #f3f2f1;
}

.govuk-link--sort {
    display: inline-flex;
    align-items: center;
}

/* Hide back link unless JS is enabled */
.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}

.govuk-table__body .govuk-table__row:last-child > * {
    border-bottom: none !important;
}

.moj-header__navigation-item-bold {
    font-weight: bold;
}

.claim-details-icon-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1d70b8; /* GOV.UK blue */
    color: #fff;
    font-family: "GDS Transport", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

