.search-panel {
    padding: 15px 20px 0px 20px;
    background-color: #f3f2f1;
}

.govuk-link--sort {
    display: inline-flex;
    align-items: center;
}

/* Hide back link unless JS is enabled */
.govuk-back-link {
    display: none;
}
.js-enabled .govuk-back-link {
    display: inline-block;
}

.govuk-table__body .govuk-table__row:last-child > * {
    border-bottom: none !important;
}

.moj-header__navigation-item-bold {
    font-weight: bold;
}

/* Row label column - set to accommodate the remaining size */
.govuk-table__row-item{
    width: 18rem;
}

/* Submitted, Calculated, Assessed columns - set to accommodate 'Not applicable' */
.govuk-table__row-values{
    width: 11rem;
}

/* Change button column - set to accommodate 'Change' (largest possible value) and create space for 'items' */
.govuk-table__row-actions{
    width: 4.5rem;
}

