<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{assessmentOutcome.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
                    <form th:action="@{/submissions/{submissionId}/claims/{claimID}/assessment-outcome(submissionId=${submissionId}, claimID=${claimId})}"
                          th:object="${assessmentOutcomeForm}"
                          method="post">

                        <th:block th:replace="~{partials/error-summary :: error-summary(${@ThymeleafUtils.sortAssessmentOutcomeErrors(#fields.detailedErrors())})}"></th:block>

                        <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-heading-xl">
                                    <span th:text="#{assessmentOutcome.mainHeading}"></span>
                                </h1>
                            </legend>

                        <div class="govuk-radios" data-module="govuk-radios"
                             th:classappend="${#fields.hasErrors('assessmentOutcome')} ? 'govuk-form-group--error'">

                            <p class="govuk-error-message"
                               th:if="${#fields.hasErrors('assessmentOutcome')}"
                               th:errors="*{assessmentOutcome}"></p>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="assessment-outcome" name="assessmentOutcome" type="radio" value="reduced-to-fixed-fee-assessed"
                                       th:checked="${assessmentOutcome == 'reduced-to-fixed-fee-assessed'}">
                                <label class="govuk-label govuk-radios__label" for="assessment-outcome" th:text="#{assessmentOutcome.reducedAssessed}">
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="assessment-outcome-2" name="assessmentOutcome" type="radio" value="reduced-still-escaped"
                                       th:checked="${assessmentOutcome == 'reduced-still-escaped'}">
                                <label class="govuk-label govuk-radios__label" for="assessment-outcome-2" th:text="#{assessmentOutcome.reducedStillEscaped}">
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="assessment-outcome-3" name="assessmentOutcome" type="radio" value="nilled"
                                       th:checked="${assessmentOutcome == 'nilled'}">
                                <label class="govuk-label govuk-radios__label" for="assessment-outcome-3" th:text="#{assessmentOutcome.nilled}">
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="assessment-outcome-4" name="assessmentOutcome" type="radio" value="paid-in-full"
                                       th:checked="${assessmentOutcome == 'paid-in-full'}">
                                <label class="govuk-label govuk-radios__label" for="assessment-outcome-4" th:text="#{assessmentOutcome.paidInFull}">
                                </label>
                            </div>
                        </div>
                        </fieldset>
                        </div>

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h2 class="govuk-label govuk-label--m">
                                        <span th:text="#{assessmentOutcome.vatLiabilitySubHeading}"></span>
                                    </h2>
                                </legend>
                                <div id="liabilityForVat-hint" class="govuk-hint" th:text="#{assessmentOutcome.vatLiabilityHint}"></div>
                                <div th:classappend="${#fields.hasErrors('liabilityForVat')} ? 'govuk-form-group--error'">
                                <p class="govuk-error-message"
                                   th:if="${#fields.hasErrors('liabilityForVat')}"
                                   th:errors="*{liabilityForVat}"></p>

                                <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios"
                                     >
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="liability-for-vat" name="liabilityForVat" type="radio" value="yes"
                                               th:checked="${liabilityForVat == 'yes'}">
                                        <label class="govuk-label govuk-radios__label" for="liability-for-vat" th:text="#{service.yes}">
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="liability-for-vat-2" name="liabilityForVat" type="radio" value="no"
                                               th:checked="${liabilityForVat == 'no'}">
                                        <label class="govuk-label govuk-radios__label" for="liability-for-vat-2" th:text="#{service.no}">
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </fieldset>
                        </div>

                            <div class="govuk-button-group">
                                <button class="govuk-button" type="submit"> Continue </button>
                                <button class="govuk-button govuk-button--secondary" onclick="window.history.go(-1); return false;" type="button"> Cancel </button>
                            </div>
                    </form>

        </main>
    </body>
</html>
