<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{assessmentOutcome.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form th:action="@{/submissions/{submissionId}/claims/{claimId}/assessment-outcome(submissionId=${submissionId}, claimId=${claimId})}"
                          th:object="${form}"
                          method="post">

                        <th:block th:replace="~{partials/error-summary :: error-summary(${@ThymeleafUtils.toAssessmentOutcomeErrors(#fields.detailedErrors())})}"></th:block>

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading" th:text="#{assessmentOutcome.mainHeading}"></h1>
                            </legend>

                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios" data-module="govuk-radios"
                                         th:classappend="${#fields.hasErrors('assessmentOutcome')} ? 'govuk-form-group--error'">

                                        <p th:if="${#fields.hasErrors('assessmentOutcome')}" class="govuk-error-message">
                                            <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                                            <th:block th:errors=" *{assessmentOutcome}"></th:block>
                                        </p>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="assessment-outcome" name="assessmentOutcome" type="radio" value="paid-in-full"
                                                   th:checked="${form.assessmentOutcome != null && form.assessmentOutcome.formValue == 'paid-in-full'}">
                                            <label class="govuk-label govuk-radios__label" for="assessment-outcome" th:text="#{assessmentOutcome.paidInFull}">
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="assessment-outcome-2" name="assessmentOutcome" type="radio" value="reduced-still-escaped"
                                                   th:checked="${form.assessmentOutcome != null && form.assessmentOutcome.formValue == 'reduced-still-escaped'}">
                                            <label class="govuk-label govuk-radios__label" for="assessment-outcome-2" th:text="#{assessmentOutcome.reducedStillEscaped}">
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="assessment-outcome-3" name="assessmentOutcome" type="radio" value="reduced-to-fixed-fee-assessed"
                                                   th:checked="${form.assessmentOutcome != null && form.assessmentOutcome.formValue == 'reduced-to-fixed-fee-assessed'}">
                                            <label class="govuk-label govuk-radios__label" for="assessment-outcome-3" th:text="#{assessmentOutcome.reducedAssessed}">
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="assessment-outcome-4" name="assessmentOutcome" type="radio" value="nilled"
                                                   th:checked="${form.assessmentOutcome != null && form.assessmentOutcome.formValue == 'nilled'}">
                                            <label class="govuk-label govuk-radios__label" for="assessment-outcome-4" th:text="#{assessmentOutcome.nilled}">
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" th:text="#{assessmentOutcome.vatLiabilitySubHeading}"></legend>

                                    <div th:classappend="${#fields.hasErrors('liabilityForVat')} ? 'govuk-form-group--error'">
                                        <p th:if="${#fields.hasErrors('liabilityForVat')}" class="govuk-error-message">
                                            <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                                            <th:block th:errors=" *{liabilityForVat}"></th:block>
                                        </p>

                                        <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="liability-for-vat" name="liabilityForVat" type="radio" value="yes"
                                                       th:checked="${form.liabilityForVat != null && form.liabilityForVat}">
                                                <label class="govuk-label govuk-radios__label" for="liability-for-vat" th:text="#{service.yes}">
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="liability-for-vat-2" name="liabilityForVat" type="radio" value="no"
                                                       th:checked="${form.liabilityForVat != null && !form.liabilityForVat}">
                                                <label class="govuk-label govuk-radios__label" for="liability-for-vat-2" th:text="#{service.no}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <th:block th:if="${form.getAssessmentOutcome() != null }">
                                <div class="govuk-button-group">
                                    <button class="govuk-button" type="submit" th:text="#{assessmentOutcome.saveChanges}"></button>
                                    <a th:href="@{/submissions/{submissionId}/claims/{claimId}/review(submissionId=${submissionId}, claimId=${claimId})}"
                                       class="govuk-link govuk-link--no-visited-state"
                                       th:text="#{assessmentOutcome.cancel}"></a>
                                </div>
                            </th:block>

                            <th:block th:if="${!hasAssessment && form.getAssessmentOutcome() == null }">
                                <div class="govuk-button-group">
                                    <button class="govuk-button" type="submit" th:text="#{assessmentOutcome.saveChanges}"></button>
                                    <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${submissionId}, claimId=${claimId})}"
                                       class="govuk-link govuk-link--no-visited-state"
                                       th:text="#{assessmentOutcome.cancel}"></a>
                                </div>
                            </th:block>

                        </fieldset>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
