<!DOCTYPE html>
<th:block th:with="prefix=${cost.prefix}, title=${#strings.concat(prefix, '.title')}">
    <html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout :: layout(
            title=#{${title}},
            mainContent=~{::#main-content},
            pageCategory=${null},
            showBackLink=${false}
    )}">
        <body>
            <main class="govuk-main-wrapper" id="main-content">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <form th:action="@{${action}}" th:object="${form}" method="post">

                                <input type="hidden" name="cost" th:value="${cost}">

                                <th:block th:replace="~{partials/error-summary :: error-summary(${@ThymeleafUtils.toMonetaryFormValueErrors(#fields.detailedErrors())})}"></th:block>

                                <div class="govuk-form-group">
                                    <h1 class="govuk-label-wrapper">
                                        <label th:with="heading=${#strings.concat(prefix, '.heading')}" class="govuk-label govuk-label--xl" for="value" th:text="#{${heading}}"></label>
                                    </h1>

                                    <th:block th:if="${#messages.msgOrNull(prefix + '.hint') != null}">
                                        <div th:with="hint=${#strings.concat(prefix, '.hint')}" id="value-hint" class="govuk-hint" th:text="#{${hint}}"></div>
                                    </th:block>

                                    <p th:if="${#fields.hasErrors('value')}" class="govuk-error-message">
                                        <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                                        <th:block th:errors=" *{value}"></th:block>
                                    </p>

                                    <div class="govuk-input__wrapper">
                                        <div class="govuk-input__prefix" aria-hidden="true">£</div>

                                        <input class="govuk-input govuk-input--width-5"
                                               th:classappend="${#fields.hasErrors('value') ? 'govuk-input--error' : ''}"
                                               id="value"
                                               name="value"
                                               type="text"
                                               spellcheck="false"
                                               th:field="*{value}">
                                    </div>
                                </div>

                                <div class="govuk-button-group">
                                    <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{service.saveChanges}"></button>

                                    <a th:href="@{${redirectUrl}}" th:text="#{service.cancel}" role="button" class="govuk-button govuk-button--secondary" data-module="govuk-button"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </body>
    </html>
</th:block>
