<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <h1 class="govuk-heading-xl">
                <span th:text="#{claimSummary.mainHeading}"></span>
            </h1>

            <th:block th:if="${claim != null}">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.escaped}"></dt>
                        <dd class="govuk-summary-list__value" th:with="key=${claim.escapedForDisplay}" th:text="#{${key}}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.categoryOfLaw != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.type}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.categoryOfLaw}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.feeScheme != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.feeScheme}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.feeScheme}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.matterTypeCode != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.legalMatterCode}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.matterTypeCode}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.providerAccountNumber != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.providerAccountNumber}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.providerAccountNumber}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.clientName != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.clientName}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.clientName}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.caseStartDate != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.caseStartDate}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.caseStartDateForDisplay}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.caseEndDate != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.caseEndDate}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.caseEndDateForDisplay}"></dd>
                    </div>

                    <div class="govuk-summary-list__row" th:if="${claim.submissionPeriod != null}">
                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.rows.dateSubmitted}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${claim.submissionPeriodForDisplay}"></dd>
                    </div>
                </dl>
            </th:block>

            <h2 class="govuk-heading-l">
                <span th:text="#{claimSummary.totalHeading}"></span>
            </h2>

            <th:block th:if="${claim != null}">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{claimTotals.rows.initialReported}"></dt>
                        <dd class="govuk-summary-list__value" th:with="key=#{generic.placeHolder}" th:text="#{generic.placeHolder}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{claimTotals.rows.initialAuthorised}"></dt>
                        <dd class="govuk-summary-list__value" th:with="key=#{generic.placeHolder}" th:text="#{generic.placeHolder}"></dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{claimTotals.rows.assessmentTotal}"></dt>
                        <dd class="govuk-summary-list__value" th:with="key=#{generic.placeHolder}" th:text="#{generic.placeHolder}"></dd>
                    </div>
                </dl>
            </th:block>
        </main>
    </body>
</html>
