<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null}
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <h1 class="govuk-heading-xl">
                <span th:text="#{claimSummary.heading}"></span>
            </h1>

            <dl class="govuk-summary-list">
                <!-- Needs converting to a useful string. What is the alternative to escaped? -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Escape status
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.escaped}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.categoryOfLaw}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Fee Scheme
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.feeScheme}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legal matter code
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.matterTypeCode}"></dd>
                </div>

                <!-- Not in API response -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Provider Account Number
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.escaped}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Client surname
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.clientSurname}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Client forename
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.clientForename}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case start date
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.caseStartDateForDisplay}"></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case end date
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.caseEndDateForDisplay}"></dd>
                </div>

                <!-- Needed from API-->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date submitted
                    </dt>
                    <dd class="govuk-summary-list__value" th:text="${claim.escaped}"></dd>
                </div>
            </dl>

        </main>
    </body>
</html>
