<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-l">
                            <span th:text="#{claimSummary.mainHeading}"></span>
                        </h1>
                        <div class="govuk-summary-card" th:if="${claim != null}">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title" th:text="#{claimSummary.summary}"></h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row" th:each="entry : ${claim.summaryRows}">
                                        <dt class="govuk-summary-list__key" th:text="#{${'claimSummary.rows.' + entry.key}}"></dt>
                                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.value)}"></dd>
                                    </div>
                                </dl>
                            </div>
                        </div>

                        <div class="govuk-summary-card" th:if="${claim != null}">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title" th:text="#{claimSummary.values}"></h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-highlight-lastrow govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.item}"></dt>
                                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{claimSummary.calculated}"></dd>
                                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{claimSummary.submitted}"></dd>
                                    </div>
                                    <div class="govuk-summary-list__row" th:each="row : ${claim.tableRows}" th:if="${@ThymeleafUtils.displayClaimField(row)}">
                                        <dt class="govuk-summary-list__key govuk-!-font-weight-bold" th:text="#{${row.label}}"></dt>
                                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(row.calculated)}"></dd>
                                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted)}"></dd>
                                    </div>
                                </dl>
                            </div>
                        </div>

                        <div class="govuk-button-group">
                            <a th:href="@{/submissions/{submissionId}/claims/{claimID}/assessment-outcome(submissionId=${submissionId}, claimID=${claimId})}"
                               th:text="#{claimSummary.assessmentButton}" class="govuk-button">
                            </a>
                            <a th:href="@{/}"
                               role="button" draggable="false" class="govuk-button govuk-button--secondary"
                               th:text="#{claimSummary.backToSearch}" data-module="govuk-button">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
