<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{index.title},
        mainContent=~{::#main-content},
        pageCategory='error'
    )}">
<body>
    <main class="govuk-main-wrapper" id="main-content">
        <h1 class="govuk-heading-xl" th:text="#{error.generic.message}"></h1>
        <p class="govuk-body" th:text="#{error.code(${statusCode})}"></p>
        <a class="govuk-link" href="/" th:text="#{back.to.home}"></a>
    </main>
</body>
</html>
