<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{index.title},
        mainContent=~{::#main-content},
        pageCategory='search'
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <form th:action="@{/}" th:object="${searchForm}" method="post">

                <th:block th:replace="~{partials/error-summary :: error-summary(${@ThymeleafUtils.sortSearchErrors(#fields.detailedErrors())})}"></th:block>

                <fieldset class="govuk-fieldset" aria-describedby="search-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" th:text="#{index.heading}"></h1>
                    </legend>

                    <div id="search-hint" class="govuk-hint" th:text="#{index.hint}"></div>

                    <div class="search-panel">
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('providerAccountNumber') ? ' govuk-form-group--error' : ''}">
                            <label class="govuk-label govuk-label--s" for="provider-account-number" th:text="#{index.providerAccountNumber}"></label>
                            <p th:if="${#fields.hasErrors('providerAccountNumber')}" class="govuk-error-message" th:errors="*{providerAccountNumber}">
                                <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                            </p>
                            <input class="govuk-input govuk-!-width-one-half" th:classappend="${#fields.hasErrors('providerAccountNumber') ? ' govuk-input--error' : ''}" id="provider-account-number" name="providerAccountNumber" type="text" th:field="*{providerAccountNumber}">
                        </div>

                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('submissionDateMonth') || #fields.hasErrors('submissionDateYear') ? ' govuk-form-group--error' : ''}">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="submission-date-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" th:text="#{index.submissionDate}"></legend>
                                <div id="submission-date-hint" class="govuk-hint" th:text="#{index.submissionDate.hint}"></div>
                                <p th:if="${#fields.hasErrors('submissionDateMonth') && #fields.hasErrors('submissionDateYear')}" class="govuk-error-message" th:errors="*{submissionDateMonth}">
                                    <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                                </p>
                                <p th:if="${#fields.hasErrors('submissionDateMonth') && !#fields.hasErrors('submissionDateYear')}" class="govuk-error-message" th:errors="*{submissionDateMonth}">
                                    <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                                </p>
                                <p th:if="${!#fields.hasErrors('submissionDateMonth') && #fields.hasErrors('submissionDateYear')}" class="govuk-error-message" th:errors="*{submissionDateYear}">
                                    <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                                </p>
                                <div class="govuk-date-input">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="submission-date-month" th:text="#{index.submissionDate.month}"></label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="submission-date-month" name="submissionDateMonth" type="text" inputmode="numeric" th:field="*{submissionDateMonth}" th:classappend="${#fields.hasErrors('submissionDateMonth') ? ' govuk-input--error' : ''}">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="submission-date-year" th:text="#{index.submissionDate.year}"></label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="submission-date-year" name="submissionDateYear" type="text" inputmode="numeric" th:field="*{submissionDateYear}" th:classappend="${#fields.hasErrors('submissionDateYear') ? ' govuk-input--error' : ''}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('referenceNumber') ? ' govuk-form-group--error' : ''}">
                            <label class="govuk-label govuk-label--s" for="reference-number" th:text="#{index.referenceNumber}"></label>
                            <p th:if="${#fields.hasErrors('referenceNumber')}" class="govuk-error-message" th:errors="*{referenceNumber}">
                                <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                            </p>
                            <input class="govuk-input govuk-!-width-one-half" th:classappend="${#fields.hasErrors('referenceNumber') ? ' govuk-input--error' : ''}" id="reference-number" name="referenceNumber" type="text" th:field="*{referenceNumber}">
                        </div>

                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{index.search}"></button>
                            <a class="govuk-link" th:href="@{/}" th:text="#{index.clear}"></a>
                        </div>
                    </div>
                </fieldset>
            </form>

            <th:block th:if="${viewModel != null}">
                <th:block th:if="${viewModel.claims.isEmpty()}">
                    <h2 class="govuk-heading-m" th:text="#{index.results.none}"></h2>

                    <p class="govuk-body" th:text="#{index.results.retry}"></p>
                </th:block>

                <th:block th:unless="${viewModel.claims.isEmpty()}">
                    <h2 class="govuk-heading-m" th:text="#{index.results.searchResults(${viewModel.pagination.results.count})}"></h2>

                    <table class="govuk-table" data-module="moj-sortable-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header" aria-sort="ascending" th:text="#{index.results.referenceNumber}"></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none" th:text="#{index.results.clientSurname}"></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none" th:text="#{index.results.dateSubmitted}"></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none" th:text="#{index.results.account}"></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none" th:text="#{index.results.type}"></th>
                                <th scope="col" class="govuk-table__header" aria-sort="none" th:text="#{index.results.escaped}"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row" th:each="claim : ${viewModel.claims}">
                                <td class="govuk-table__cell">
                                    <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${claim.submissionId}, claimId=${claim.claimId})}" th:text="${claim.referenceNumber}" class="govuk-link--no-visited-state"></a>
                                </td>
                                <td class="govuk-table__cell" th:text="${claim.clientSurname}"></td>
                                <td class="govuk-table__cell" th:text="${claim.submissionPeriodForDisplay}" th:data-sort-value="${claim.submissionPeriodForSorting}"></td>
                                <td class="govuk-table__cell" th:text="${claim.getAccountNumber()}"></td>
                                <td class="govuk-table__cell" th:text="${claim.getCategoryOfLaw()}"></td>
                                <td class="govuk-table__cell" th:with="value=${claim.escapedForDisplay}">
                                    <th:block th:if="${claim.escaped}">
                                        <strong class="govuk-tag govuk-tag--red" th:text="#{${value}}"></strong>
                                    </th:block>
                                    <th:block th:unless="${claim.escaped}">
                                        <span th:text="#{${value}}"></span>
                                    </th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <th:block th:replace="~{partials/pagination :: pagination(${viewModel.pagination})}"></th:block>
                </th:block>
            </th:block>
        </main>
    </body>
</html>
