<html th:fragment="layout(title,mainContent,pageCategory,showBackLink)" lang="en" class="govuk-template govuk-template--rebranded">

    <head th:replace="~{partials/head :: head(title=${title})}"></head>

    <body class="govuk-template__body">
        <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

        <th:block th:replace="~{partials/header :: header}"></th:block>

        <th:block th:replace="~{partials/service-navigation :: serviceNavigation(pageCategory=${pageCategory})}"></th:block>

        <div class="govuk-width-container">
            <div class="govuk-phase-banner" id="feedback">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        Alpha
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service. Your <a class="govuk-link" th:href="${@environment.getProperty('app.feedback-url')}">feedback</a> will help us to improve it.
                    </span>
                </p>
            </div>

            <a th:if="${showBackLink}"
               href="#"
               data-module="back-link"
               class="govuk-back-link"
               th:text="#{service.back}">
            </a>

            <th:block th:replace="${mainContent}">Default Main Content</th:block>
        </div>

        <th:block th:replace="~{partials/footer :: footer}"></th:block>

        <script type="module" th:src="@{/js/app.js}"></script>
    </body>

</html>