<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{index.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
    <main class="govuk-main-wrapper" id="main-content">
        <h1 class="govuk-heading-xl" th:text="Service Maintenance"></h1>
        <p class="govuk-body" th:text="We are performing scheduled maintenance. Expected return - 09 00"></p>
        <p class="govuk-body">
            <a class="govuk-link" href="/" th:text="#{back.to.home}"></a>
        </p>
    </main>
</body>
</html>
