<!-- index.html -->
<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=#{notAuthorised.title},
      mainContent=~{::#main-content},
      pageCategory=${'login'})}" xmlns:th="http://www.thymeleaf.org">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <div class="moj-page-header-actions">
                <div class="moj-page-header-actions__title">
                    <h1 class="govuk-heading-xl"><span th:text="#{notAuthorised.heading}"/></h1>
                </div>
            </div>
        </main>
    </body>
</html>
