<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimReview.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">

    <th:block th:if="${validationFailed}">
        <th:block th:replace="~{partials/error-summary :: error-summary(${viewModel.errors})}"></th:block>
    </th:block>

    <th:block th:if="${submissionFailed}">
        <th:block th:replace="~{partials/error-alert :: errorAlert('claimReview')}"></th:block>
    </th:block>

    <h1 class="govuk-heading-xl">
        <span th:text="#{claimReview.mainHeading}"></span>
    </h1>

    <p class="govuk-body">
        <strong th:text="#{claimReview.assessmentOutcome} "></strong>
        <span th:text="#{${(claim.assessmentOutcome != null) ? claim.assessmentOutcome.messageKey : 'claimValuesTable.noData'}}"></span>
    </p>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" th:text="#{claimSummary.claimCostsTableTitle}"/>
        </div>
        <div class="govuk-summary-card__content">
            <table class="govuk-table govuk-!-margin-bottom-0">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.item}"></th>
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.calculated}"></th>
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.submitted}"></th>
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.amended}"></th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row"
                    th:each="row : ${viewModel.tableRows}"
                    >
                    <td class="govuk-table__cell govuk-!-font-weight-bold" th:text="#{${row.label}}"></td>
                    <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.calculated)}"></td>
                    <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted)}"></td>

                <th:block th:if="${row.status.name() == 'NEEDS_AMENDING'}">
                    <td class="govuk-table__cell">
                        <a th:href="${row.getChangeUrl(submissionId, claimId)}"
                           th:id="${row.id}"
                           class="govuk-link govuk-link--no-visited-state">
                            <th:block th:text="#{service.add}"></th:block>
                            <span class="govuk-visually-hidden" th:text=" #{${row.label}}"></span>
                        </a>
                    </td>

                        <td class="govuk-table__cell"></td>
                    </th:block>

                    <th:block th:if="${row.status.name() == 'AMENDABLE'}">
                        <td class="govuk-table__cell"
                            th:text="${@ThymeleafUtils.getFormattedValue(row.amended)}">
                        </td>

                    <td class="govuk-table__cell">
                        <a th:if="${row.getChangeUrl(submissionId,claimId) != null}"
                           th:href="${row.getChangeUrl(submissionId,claimId)}"
                           class="govuk-link govuk-link--no-visited-state">
                            <th:block th:text="#{service.change}"></th:block>
                            <span class="govuk-visually-hidden" th:text=" #{${row.label}}"></span>
                        </a>
                    </td>
                </th:block>

                    <th:block th:if="${row.status.name() == 'NOT_AMENDABLE'}">
                        <td class="govuk-table__cell"
                            th:text="${@ThymeleafUtils.getFormattedValue(row.amended)}">
                        </td>

                        <td class="govuk-table__cell"></td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" th:text="#{claimSummary.allowedTotalsTableTitle}"/>
        </div>
        <div class="govuk-summary-card__content">
            <table class="govuk-table govuk-!-margin-bottom-0">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.item}"></th>
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.calculated}"></th>
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.submitted}"></th>
                    <th scope="col" class="govuk-table__header" th:text="#{claimSummary.allowed}"></th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row"
                    th:each="row : ${viewModel.allowedTotals}"
                    >
                    <td class="govuk-table__cell govuk-!-font-weight-bold" th:text="#{${row.label}}"></td>
                    <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.calculated)}"></td>
                    <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted)}"></td>

                    <th:block th:if="${row.status.name() == 'NEEDS_AMENDING'}">
                        <td class="govuk-table__cell">
                            <a th:href="${row.getChangeUrlAllowedTotal(submissionId, claimId)}"
                               th:id="${row.id}"
                               class="govuk-link govuk-link--no-visited-state"
                               th:text="#{service.add}"><th:span class="govuk-visually-hidden" th:text=" #{${row.label}}"></th:span></a>
                        </td>

                        <td class="govuk-table__cell"></td>
                    </th:block>

                    <th:block th:if="${row.status.name() == 'AMENDABLE'}">
                        <td class="govuk-table__cell"
                            th:text="${@ThymeleafUtils.getFormattedValue(row.amended)}">
                        </td>

                        <td class="govuk-table__cell">
                            <a th:href="${row.getChangeUrlAllowedTotal(submissionId, claimId)}"
                               class="govuk-link govuk-link--no-visited-state"
                               th:text="#{service.change}"><th:span class="govuk-visually-hidden" th:text=" #{${row.label}}"></th:span></a>
                        </td>
                    </th:block>

                    <th:block th:if="${row.status.name() == 'NOT_AMENDABLE'}">
                        <td class="govuk-table__cell"
                            th:text="${@ThymeleafUtils.getFormattedValue(row.amended)}">
                        </td>

                        <td class="govuk-table__cell"></td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-button-group">
        <form th:action="@{/submissions/{submissionId}/claims/{claimId}/review(submissionId=${submissionId}, claimId=${claimId})}" method="post">
            <button class="govuk-button" type="submit" data-module="govuk-button" th:text="#{claimReview.submit}"></button>
        </form>

        <form th:action="@{/submissions/{submissionId}/claims/{claimId}/review/discard(submissionId=${submissionId}, claimId=${claimId})}" method="post">
            <button class="govuk-button govuk-button--secondary govuk-button--warning" type="submit" data-module="govuk-button" th:text="#{claimReview.discard}"></button>
        </form>
    </div>
</main>
</body>
</html>
