<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.cannotBeSubmitted.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" th:text="#{amendments.cannotBeSubmitted.title}"></h1>

      <p class="govuk-body" th:text="#{amendments.cannotBeSubmitted.subheading}"></p>

      <table class="govuk-table" id="amendment-errors">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" th:text="#{amendments.cannotBeSubmitted.item}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{amendments.cannotBeSubmitted.issue}"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="row : ${errorRows}">
            <th scope="row" class="govuk-table__header" th:text="${row.item.resolve(#messages)}"></th>
            <td class="govuk-table__cell" th:text="${row.issue}"></td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-button-group">
        <a th:href="@{/submissions/{submissionId}/claims/{claimId}/amendments/client(submissionId=${submissionId}, claimId=${claimId})}"
           th:text="#{amendments.cannotBeSubmitted.amendClaim}"
           role="button"
           class="govuk-button"
           data-module="govuk-button"
           id="amend-claim"></a>
        <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${submissionId}, claimId=${claimId})}"
           th:text="#{amendments.cannotBeSubmitted.cancelAmendments}"
           class="govuk-link govuk-link--no-visited-state"
           id="cancel-amendments"></a>
      </div>
    </div>
  </div>
</main>
</body>
</html>
