apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{- include "laa-amend-a-claim.fullname" . | nindent 4 }}
  labels:
    {{ include "laa-amend-a-claim.labels" . | nindent 4 }}
spec:
  replicas: 3
  selector: {{ include "laa-amend-a-claim.selectorLabels" . | nindent 4 }}
  template:
    metadata:
      labels: {{- include "laa-amend-a-claim.labels" . | nindent 4 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: ${REGISTRY}/${REPOSITORY}:${IMAGE_TAG}
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "1200Mi"
              cpu: "300m"
            limits:
              memory: "3000Mi"
              cpu: "1"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
              httpGet:
                path: /actuator/health/readiness
                port: 8080
              initialDelaySeconds: 60
              periodSeconds: 10
          env:
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-azure-client-id
                  key: AZURE_CLIENT_ID
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-azure-client-secret
                  key: AZURE_CLIENT_SECRET
            - name: AZURE_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-azure-tenant
                  key: AZURE_TENANT_ID
            - name: BASE_URL_HOMEPAGE
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-base-url
                  key: BASE_URL_HOMEPAGE
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-sentry-dsn
                  key: SENTRY_DSN
            - name: SENTRY_ENVIRONMENT
              value: ${SENTRY_ENV}
            - name: CLAIMS_API
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-claims-api-url
                  key: CLAIMS_API
            - name: CLAIMS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: laa-amend-a-claim-claims-api-token
                  key: CLAIMS_TOKEN
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: elasticache-redis
                  key: url