<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <th:block th:replace="~{partials/claim-details-header :: claimDetailsHeader(currentPage='inquest')}"></th:block>

            <h2 class="govuk-heading-m" th:text="#{claimInquest.heading}"></h2>

            <form th:object="${form}"
                  th:action="@{/submissions/{submissionId}/claims/{claimId}/inquest(submissionId=${submissionId}, claimId=${claimId})}"
                  method="post">

                <th:block th:with="formErrors=${@ThymeleafUtils.toInquestFormErrors(#fields.detailedErrors())}">
                    <th:block th:replace="~{partials/error-summary :: error-summary(${formErrors})}"></th:block>
                </th:block>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="deceasedForename" th:text="#{claimInquest.deceasedForename}"></label>
                    <input class="govuk-input" id="deceasedForename" th:field="*{deceasedForename}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="deceasedSurname" th:text="#{claimInquest.deceasedSurname}"></label>
                    <input class="govuk-input" id="deceasedSurname" th:field="*{deceasedSurname}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="deceasedDateOfBirth" th:text="#{claimInquest.deceasedDateOfBirth}"></label>
                    <p th:if="${#fields.hasErrors('deceasedDateOfBirth')}" class="govuk-error-message">
                        <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                        <th:block th:errors="*{deceasedDateOfBirth}"></th:block>
                    </p>
                    <input class="govuk-input govuk-input--width-10" type="date"
                           th:classappend="${#fields.hasErrors('deceasedDateOfBirth') ? 'govuk-input--error' : ''}"
                           id="deceasedDateOfBirth" th:field="*{deceasedDateOfBirth}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="deceasedDateOfDeath" th:text="#{claimInquest.deceasedDateOfDeath}"></label>
                    <p th:if="${#fields.hasErrors('deceasedDateOfDeath')}" class="govuk-error-message">
                        <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                        <th:block th:errors="*{deceasedDateOfDeath}"></th:block>
                    </p>
                    <input class="govuk-input govuk-input--width-10" type="date"
                           th:classappend="${#fields.hasErrors('deceasedDateOfDeath') ? 'govuk-input--error' : ''}"
                           id="deceasedDateOfDeath" th:field="*{deceasedDateOfDeath}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="coronersInquestReference" th:text="#{claimInquest.coronersInquestReference}"></label>
                    <input class="govuk-input" id="coronersInquestReference" th:field="*{coronersInquestReference}">
                </div>

                <div class="govuk-form-group" id="interested-department-codes">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"
                                th:text="#{claimInquest.interestedDepartments}"></legend>
                        <p th:if="${#fields.hasErrors('interestedDepartmentCodes')}" class="govuk-error-message">
                            <span class="govuk-visually-hidden" th:text="#{form.error}"></span>
                            <th:block th:errors="*{interestedDepartmentCodes}"></th:block>
                        </p>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item" th:each="department : ${departments}">
                                <input class="govuk-checkboxes__input" type="checkbox"
                                       th:id="|department-${department.code}|"
                                       name="interestedDepartmentCodes"
                                       th:value="${department.code}"
                                       th:checked="${form.interestedDepartmentCodes.contains(department.code)}">
                                <label class="govuk-label govuk-checkboxes__label"
                                       th:for="|department-${department.code}|"
                                       th:text="${department.displayLabel}"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group" id="interested-public-authorities">
                    <h2 class="govuk-heading-s" th:text="#{claimInquest.interestedPublicAuthorities}"></h2>
                    <div th:each="authority, item : ${form.interestedPublicAuthorities}">
                        <label class="govuk-label"
                               th:for="|interestedPublicAuthorities${item.index}|"
                               th:text="|#{claimInquest.interestedPublicAuthority} ${item.count}|"></label>
                        <input class="govuk-input"
                               th:id="|interestedPublicAuthorities${item.index}|"
                               th:name="|interestedPublicAuthorities[${item.index}]|"
                               th:value="${authority}">
                        <button type="submit" name="removeAuthority" th:value="${item.index}"
                                class="govuk-button govuk-button--secondary"
                                data-module="govuk-button" th:text="#{claimInquest.removeAuthority}"></button>
                    </div>
                    <button type="submit" name="addAuthority" value="true"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button" th:text="#{claimInquest.addAnotherAuthority}"></button>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{service.saveChanges}"></button>
                </div>
            </form>

            <th:block th:replace="~{partials/claim-details-footer :: claimDetailsFooter()}"></th:block>
        </div>
    </div>
</main>
</body>
</html>
