name: Build

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
        default: 'main'
      aws_region:
        required: false
        type: string
        default: 'eu-west-2'
        description: 'AWS region for ECR'
    secrets:
      ECR_ROLE_TO_ASSUME:
        required: true
    outputs:
      image_tag:
        description: "The Docker image tag (commit SHA)"
        value: ${{ jobs.build.outputs.image_tag }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.get_sha.outputs.sha }}
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Get latest commit SHA
        id: get_sha
        run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: corretto

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build JAR (without tests)
        run: ./gradlew build -x test -x integrationTest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: application-jar
          path: build/libs/*.jar
          retention-days: 1

      - name: Publish package to GitHub Packages
        run: ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ECR_ROLE_TO_ASSUME }}
          aws-region: ${{ inputs.aws_region }}

      - name: Authenticate to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - name: Build and Push Docker Image
        run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ vars.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ steps.get_sha.outputs.sha }}