name: Build

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
        default: 'main'
    secrets:
      ECR_ROLE_TO_ASSUME:
        required: true
    outputs:
      image_tag:
        description: "The Docker image tag (commit SHA) - Cache test"
        value: ${{ jobs.build.outputs.image_tag }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.get_sha.outputs.sha }}
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ inputs.branch }}

      - name: Get latest commit SHA
        id: get_sha
        run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Set up JDK 21
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 21
          distribution: corretto
          cache: gradle

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Build JAR (without tests)
        run: ./gradlew build -x test -x integrationTest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: application-jar
          path: build/libs/*.jar
          retention-days: 1

      - name: Publish package to GitHub Packages
        run: ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Authenticate to ECR
        id: ecr-auth
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/ecr-auth@768f673017edbb793cf052fa159c272d6c1f9177
        with:
          ecr_region: ${{ vars.ECR_REGION }}
          ecr_role: ${{ secrets.ECR_ROLE_TO_ASSUME }}
          role-session-name: ${{ github.run_id }}-build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.ecr-auth.outputs.image_registry }}/${{ vars.ECR_REPOSITORY }}:${{ steps.get_sha.outputs.sha }}
          cache-from: type=registry,ref=${{ steps.ecr-auth.outputs.image_registry }}/${{ vars.ECR_REPOSITORY }}:buildcache
          cache-to: type=registry,ref=${{ steps.ecr-auth.outputs.image_registry }}/${{ vars.ECR_REPOSITORY }}:buildcache,mode=max
