name: Deploy

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
        default: 'main'
      environment:
        required: true
        type: string
      SENTRY_ENV:
        required: true
        type: string
      image_tag:
        required: true
        type: string
        description: "The Docker image tag to deploy"
      aws_region:
        required: false
        type: string
        default: 'eu-west-2'
        description: 'AWS region for the ECR'
      FEEDBACK_URL:
        required: true
        type: string
      LAA_URL:
        required: true
        type: string
    secrets:
      ECR_ROLE_TO_ASSUME:
        required: true
      KUBE_NAMESPACE:
        required: true
      KUBE_CLUSTER:
        required: true
      KUBE_TOKEN:
        required: true
      KUBE_CERT:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ECR_ROLE_TO_ASSUME }}
          aws-region: ${{ inputs.aws_region }}

      - name: Authenticate to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - name: Generate Deployment Files
        run: |
          cat deployments/templates/deployment.yml | envsubst > deployments/deployment.yml
          cat deployments/templates/ingress.yml | envsubst > deployments/ingress.yml
          cat deployments/templates/ingress.yml | envsubst > deployments/ingress-internal.yml
          cat deployments/templates/service.yml | envsubst > deployments/service.yml
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ vars.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ inputs.image_tag }}
          KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}
          NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}
          INGRESS_CLASS_NAME: ${{ vars.INGRESS_CLASS_NAME }}
          SENTRY_ENV: ${{ inputs.SENTRY_ENV }}

      - name: Configure kubectl
        run: |
          echo "${{ secrets.KUBE_CERT }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.KUBE_TOKEN }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${KUBE_NAMESPACE}
          kubectl config use-context ${KUBE_CLUSTER}
        env:
          KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}

      - name: Deploy to Cloud Platform
        run: |
          kubectl -n ${KUBE_NAMESPACE} apply -f deployments/
        env:
          KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}