name: Test

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
        default: main
      environment:
        required: true
        type: string
      amend_a_claim_image_tag:
        required: true
        type: string
      sanitized_release_name:
        required: false
        type: string
        description: 'Sanitized release name from ephemeral deployment'
    secrets:
      P_USERNAME:
        required: true
      P_PASSWORD:
        required: true
      P_MFA_SECRET:
        required: true
      E2E_DB_PASSWORD:
        required: true
      E2E_DB_USER:
        required: true
      KUBE_NAMESPACE:
        required: true
      KUBE_CLUSTER:
        required: true
      KUBE_TOKEN:
        required: true
      KUBE_CERT:
        required: true
      ECR_ROLE_TO_ASSUME:
        required: true
      DATA_CLAIMS_API_IMAGE:
        required: true
      PAT_TOKEN:
        required: true
      SENTRY_DSN:
        required: true
      AZURE_CLIENT_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true
      AZURE_TENANT_ID:
        required: true


permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  unit-and-integration-tests:
    name: Unit & Integration Tests
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

    steps:
      # Checkout and setup
      - name: Checkout Source Code
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ inputs.branch }}

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 25
          distribution: corretto

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      # Run tests
      - name: Run unit tests
        run: ./gradlew test
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: Test coverage verification
        run: ./gradlew jacocoTestCoverageVerification

      - name: Integration test
        run: ./gradlew integrationTest --tests '*IntegrationTest'

      # Upload artifacts
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: test-results
          path: build/test-results
          retention-days: 14

      - name: Upload checkstyle report
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: checkstyle-report
          path: build/reports/checkstyle
          retention-days: 14

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: test-report
          path: build/reports/tests
          retention-days: 14

      - name: Upload jacoco coverage report
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: jacoco-coverage-report
          path: build/reports/jacoco
          retention-days: 14

  e2e-tests:
    name: E2E Tests
    needs: unit-and-integration-tests
    uses: ./.github/workflows/e2e-tests.yml
    with:
      branch: ${{ github.ref_name }}
      environment: ${{ inputs.environment }}
      amend_a_claim_image_tag: ${{ inputs.amend_a_claim_image_tag }}
      sanitized_release_name: ${{ inputs.sanitized_release_name }}
    secrets:
      ECR_ROLE_TO_ASSUME: ${{ secrets.ECR_ROLE_TO_ASSUME }}
      DATA_CLAIMS_API_IMAGE: ${{ secrets.DATA_CLAIMS_API_IMAGE }}
      KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}
      KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}
      KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
      KUBE_CERT: ${{ secrets.KUBE_CERT }}
      E2E_DB_PASSWORD: ${{ secrets.E2E_DB_PASSWORD }}
      E2E_DB_USER: ${{ secrets.E2E_DB_USER }}

  zap_scan:
    name: Scan the web application
    runs-on: ubuntu-latest
    needs: unit-and-integration-tests
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ inputs.branch }}
      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 25
          distribution: corretto
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
      - name: Start app with local profile
        run: |
          export SPRING_PROFILES_ACTIVE=local
          export CLAIMS_API=http://localhost:8081
          export PROVIDER_API=http://localhost:8081
          export SENTRY_ENVIRONMENT=local
          export REDIS_URL=http://localhost:6379
          
          echo "Running application..."
          docker compose up -d wiremock redis
          ./gradlew bootRun &
          
          url="http://host.docker.internal:8182/actuator/health"
          retries=20
          
          for i in $(seq 1 $retries); do
            echo "INFO: Checking application health (attempt $i of $retries)..."
            if curl -sf "$url" | grep -q '"status":"UP"'; then
              echo "INFO: Application is healthy";
              exit 0;
            fi
            sleep 2
          done
          
          echo "ERROR: Application did not start"           
          exit 1
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://host.docker.internal:8080/'
          rules_file_name: '.zap/rules.tsv'
          allow_issue_writing: false
          fail_action: true
